<div id="add-update-event-window" style="display: none;">

    <span id="add-update-event-window-dismiss" class="window-dismiss">&times;</span>

    <form id="add-update-event-form" name="">
        <h3></h3><br>

        <fieldset>
            <label>From:</label><input type="datetime-local" class="form-control" required="" autofocus="" name="start_time"><br>
            <label>To:</label><input type="datetime-local" class="form-control" required="" autofocus="" name="end_time"><br>
            <textarea class="form-control" rows="5" placeholder="Event description" name="description" required=""></textarea><br>
            <input type="url" class="form-control" placeholder="External url" autofocus="" name="external_url"><br>

            <select name="event-class" class="form-control" required=""><br>
                <option class="event-inverse">regular</option>
                <option class="event-important">important</option>
                <option class="event-success">celebration</option>
                <option class="event-warning">warning</option>
                <option class="event-special">party</option>
            </select>

            <br>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="send_notifications">Send notifications?
                </label>
            </div>

            <input type="hidden" id="event-remote-id" name="event-remote-id">

            <br><button id="add-update-button" class="btn btn-lg btn-primary btn-block" type="submit"></button>
        </fieldset>
    </form>
</div>

<div id="cal-day-box">
    <div class="row-fluid cal-row-head">
        <div class="span1 col-xs-1 cal-cell"><%= cal.locale.time %></div>
        <div class="span11 col-xs-11 cal-cell"><%= cal.locale.events %></div>
    </div>
    <% if(all_day.length) {%>
    <div class="row-fluid clearfix cal-day-hour">
        <div class="span1 col-xs-1"><b><%= cal.locale.all_day %></b></div>
        <div class="span11 col-xs-11">
            <% _.each(all_day, function(event){ %>
            <div class="day-highlight dh-<%= event.class %>">

                <a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
                   data-event-class="<%= event['class'] %>" class="event-item">
                    <%= event.title %></a>
            </div>
            <% }); %>
        </div>
    </div>
    <% }; %>
    <% if(before_time.length) {%>
    <div class="row-fluid clearfix cal-day-hour">
        <div class="span1 col-xs-3"><b><%= cal.locale.before_time %></b></div>
        <div class="span5 col-xs-5">
            <% _.each(before_time, function(event){ %>
            <div class="day-highlight dh-<%= event.class %>">
                <span class="cal-hours pull-right"><%= event.end_hour %></span>

                <span class="edit-event" 
                      data-event-id="<%= event.remote_id %>" 
                      data-event-start="<%= event.start %>" 
                      data-event-end="<%= event.end %>" 
                      data-event-desc="<%= event.title %>" 
                      data-event-url="<%= event.url %>" 
                      data-event-class="<%= event.class %>" 
                      data-event-notif="<%= event.send_notifications %>">edit</span>

                <a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
                   data-event-class="<%= event['class'] %>" class="event-item">
                    <%= event.title %></a>
            </div>
            <% }); %>
        </div>
    </div>
    <% }; %>
    <div id="cal-day-panel" class="clearfix">
        <% _.each(by_hour, function(event){ %>
        <div class="pull-left day-event day-highlight dh-<%= event.class %>" style="margin-top: <%= (event.top * 30) %>px; height: <%= (event.lines * 30) %>px">
            <span class="cal-hours"><%= event.start_hour %> - <%= event.end_hour %></span>

            <span class="edit-event" 
                  data-event-id="<%= event.remote_id %>" 
                  data-event-start="<%= event.start %>" 
                  data-event-end="<%= event.end %>" 
                  data-event-desc="<%= event.title %>" 
                  data-event-url="<%= event.url %>" 
                  data-event-class="<%= event.class %>" 
                  data-event-notif="<%= event.send_notifications %>">edit</span>

            <a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
               data-event-class="<%= event['class'] %>" class="event-item">
                <%= event.title %></a>
        </div>
        <% }); %>

        <div id="cal-day-panel-hour">
            <% for(i = 0; i < hours; i++){ %>
            <div class="cal-day-hour">
                <% for(l = 0; l < in_hour; l++){ %>
                <div class="row-fluid cal-day-hour-part">
                    <div class="span1 col-xs-1"><b><%= cal._hour(i, l) %></b></div>
                    <div class="span11 col-xs-11">
                        <div class="add-event-text" data-event-start="<%= cal.getCurrentDateFormattedForInput() %>T<%= cal._hour(i, l) %>">Add event</div>
                    </div>

                </div>
                <% }; %>
            </div>
            <% }; %>
        </div>
    </div>
    <% if(after_time.length) {%>
    <div class="row-fluid clearfix cal-day-hour">
        <div class="span1 col-xs-3"><b><%= cal.locale.after_time %></b></div>
        <div class="span11 col-xs-9">
            <% _.each(after_time, function(event){ %>
            <div class="day-highlight dh-<%= event.class %>">
                <span class="cal-hours"><%= event.start_hour %></span>
                <a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
                   data-event-class="<%= event['class'] %>" class="event-item">
                    <%= event.title %></a>
            </div>
            <% }); %>
        </div>
    </div>
    <% }; %>
</div>

<script type="text/javascript">

    OffCalendarHelper.handleEventAdd();
    OffCalendarHelper.handleEventUpdate();

    OffCalendarHelper.handleAddUpdateWindowClose();

</script>